<template>
  <v-container class="my-10 d">
    <v-row dense>
      <v-col align-self="center">
        <v-img src="/Akhdani-Logo.png" width="400" class="ma-auto"></v-img>
      </v-col>
      <v-col cols="6">
        <v-card dark color="orange">
          <v-card-title class="white--text text--darken-4">Akhdani Reka Solusi <br>a software house company</v-card-title>
          <v-card-subtitle class="grey--text text--darken-2">Akhdani merupakan software house company dengan layanan utama di custom-made software. 
Selain itu juga terlibat dalam berbagai pemeliharaan software, pengembangan data-warehouse, integrasi sistem, dan konsultasi. </v-card-subtitle>
          </v-card>
      </v-col>
    </v-row>
    <v-row dense>
      <v-col>
        <v-card dark color="grey">
          <v-card-title>PERDIN</v-card-title>
          <v-card-subtitle>
            Akhdani sebagai perusahaan dengan puluhan karyawannya memerlukan sebuah aplikasi yang dapat mencatat setiap perjalanan dinas yang dilakukan pegawainya. Hal ini diperlukan agar bagian administrasi dapat memproses permintaan perjalanan dinas, dan memproses transfer uang saku untuk perjalanan dinas pegawainya.
          </v-card-subtitle>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>